

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 800px) {
  .note {
    width: 55px
  }

  .welcome {
    font-size: 16px;
  }

  .createBtn {
    font-size: 12px;
  }

  .sideBar {
    
  }
}

@media (min-width: 768px) {
    .menuBar {
    display: none;
  }
}

@media (max-width: 768px) {
 .sideBar-header {
   margin-top: 70px;
   
 }
}
